.gradient-custom {
  /* fallback for old browsers */
  background: #1679ab;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgb(22, 121, 171), rgb(49, 152, 152));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgb(22, 121, 171), rgb(49, 152, 152))
}
.vh-100
{
  background-size: cover;
  display:flex;
  flex-direction: row;
}